<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<script language="JavaScript" src="../../resources/js/home.js"></script>
<body onload="getBooks('<%= author[0] %>'); getBooksGenre('<%= author[1] %>'); getBooksGenreB('<%= genre[0] %>'); getBooksGenreC('<%= genre[1] %>'); getBooksGenreD('<%= genre[2] %>')">   
    <h1>Book Hooked </h1>
    <div class="wrapper">
        <section id="section1">
            
        </section>
        <section id="section2">
            
        </section>
        <section id="section3">
            
        </section>
    </div>
    <b id="author1"></b>

    <div class="wrapper">
        <section id="section1a">
            
        </section>
        <section id="section2a">
            
        </section>
        <section id="section3a">
            
        </section>
    </div>
    <b id="author2"></b>

    <div class="wrapper">
        <section id="section1b">
            
        </section>
        <section id="section2b">
            
        </section>
        <section id="section3b">
            
        </section>
    </div>
    <b id="genre1"></b>

    <div class="wrapper">
        <section id="section1c">
            
        </section>
        <section id="section2c">
            
        </section>
        <section id="section3c">
            
        </section>
    </div>
    <b id="genre2"></b>

    <div class="wrapper">
        <section id="section1d">
            
        </section>
        <section id="section2d">
            
        </section>
        <section id="section3d">
            
        </section>
    </div>
    <b id="genre3"></b>

</body>

<%- include('../partials/footer') %>
